@import "reset";
@import "vars";
@import "utils";

body {}

/**
 * GLOBAL NAV
 */
.global-nav {}

.logo {
    display: block;
    width: 225px;
}

/**
 * HERO SECTION
 */
.hero {
    height: 400px;
    background-image: url(/img/photo.jpg);
    background-color: $brand;
    background-size: cover;
    filter: grayscale(50%);
    background-blend-mode: multiply;

    > section h2 {
        font-size: 1.5rem;
        @media (min-width: $large) {
            font-size: 2rem;
        }
    }

    @media (min-width: $large) {
        height: 100vh;
    }
}

.hero-img {
    height: 600px;
    width: 100%;
    position: absolute;
    background-color: $brand;
    z-index: -1;
    overflow: hidden;

    > img {
        mix-blend-mode: multiply;
        filter: grayscale(100%);
    }

    @media (min-width: $large) {
        height: 100%;
    }
}

#stripes {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: skewY(-12deg);
    transform-origin: 0;
    background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
}
