section.f4.pv4.pv6-l.ph4(id="about")
    div.mw8.center.flex.flex-column.flex-row-l.items-center
        div.column-60
            h3.mb1.f4.fw4.tracked.ttu.moon-gray About
            div.mb4
                p.brand-darkened.f2.fw5.mb3 Who We Are
                p.black-70.lh-copy After graduating summa cum laude with a degree in exercise science while playing collegiate soccer at Sonoma State University, I went on to receive my doctorate in physical therapy, as well as a master’s in healthcare administration. I then spent years working in a state of the art clinic and fitness center, treating patients of all ages and abilities.  I transitioned to home health, where I helped patients get back to their daily activities and move safely within their home. I have treated elite college athletes, pediatric patients, and patients who just want to be able to walk safely in their home. My goal is to help you move, no matter the context, ability, or goal.
        div.pl5-l
            img.br1.shadow-1(width=600, src="/img/andrew/3.jpg")
