header.ph4.fixed-l.global-nav.z-1.absolute-l.flex.items-center.bg-white.w-100.ttu.tc.pv3.tracked.fw6.black-70(id="header")
    nav.flex-auto.mw8.flex.flex-column.flex-row-l.justify-between.items-center.center
        a.db.pv2.logo(href="/")
            img(src="/img/logo.svg")
        div.w-100.flex.justify-center.justify-end-l.flex-wrap(id="global-nav")
            a.services.pa2.black-80(href="#services") Services
            a.insurance.pa2.black-80(href="#insurance") Insurance
            a.about.pa2.black-80(href="#about") About
            a.contact.pa2.black-80(href="#contact") Contact




