header.global-nav.z-1.absolute-l.flex.items-center.bg-white.w-100.ttu.tc.pv3.tracked.fw6.black-70(id="header")
    nav.flex-auto.mw8.flex.flex-column.flex-row-l.justify-between.items-center.center.ph4
        a.db.pv2.logo(href="/")
            img(src="/img/logo-3.svg")
        div.w-100.flex.justify-center.justify-end-l.flex-wrap
            a.pa2 Services
            a.pa2 Insurance
            a.pa2 About
            a.pa2 Contact




