header.hero.flex.items-center.mb4.ph4
    section.mw8.center
        h1.f1.f-subheadline-l.lh-title.fw7.near-white.mb3 Physical Therapy. Delivered.
        h2.text-shadow.near-white.fw1.mw7 The benefits of an outpatient clinic, the convenience of your home.
