section.pv4.pv6-l.ph4.section-striped(id="insurance")
    div.mw8.center.flex.flex-column.flex-row-l.items-center
        div.column.order-2.order-1-l.pr5-l
            span.section-icon.db.mv3
                img.multiply(src="/img/documents.jpg")
        div.column.order-1.order-2-l
            h3.mb1.f4.fw4.tracked.ttu.moon-gray Insurance
            div.mb4
                p.brand-darkened.f2.fw5.mb1 Clear & Upfront Costs
                p.f4.black-70.lh-copy Before receiving any physical therapy from BeMobilePT, you will know exactly what your insurance covers and any out-of-pocket costs.
            div.feature-block.mb4.mw6
                div.flex.flex-row.items-center.mb3
                    figure.mr2
                        include ../../img/icons/no-cash.svg
                    h4.f3.fw5.black-70 In Network
                p.black-70.f4 BeMobilePT is an “in-network provider” with many insurances companies, meaning that there may be no cost to you.
            div.feature-block.mb4.mw6
                div.flex.flex-row.items-center.mb3
                    figure.mr2
                        include ../../img/icons/clipboard.svg
                    h4.f3.fw5.black-70 Flexible Options
                p.black-70.f4 We offer several flexible payment options for out-of-network insurances.
            div.feature-block.mb4.mw6
                div.flex.flex-row.items-center.mb3
                    figure.mr2
                        include ../../img/icons/credit.svg
                    h4.f3.fw5.black-70 Pay with Cash
                p.black-70.f4 We offer cash-pay options for those who wish to avoid insurance altogether, or are interested in a long-term strength and conditioning or balance program.


