section
    div.mw8.center
        h3.f1.fw6.tracked.ttu.near-black Insurance
        <p class="f3 lh-copy mw7 mr5 mv0">Before receiving any physical therapy from BeMobilePT, you will know exactly what costs, if any, for which you will be responsible. BeMobilePT is an “in-network provider” with many insurances companies, meaning that there may be no cost to you. We also offer several flexible options for out-of-network insurances and cash-pay options for those who wish to avoid insurance all together, or are interested in a long-term conditioning program.</p>
