section.f4.pv4.pv6-l.ph4.section-striped(id="reviews")
    div.mw8.center
        h3.mb1.f4.fw4.tracked.ttu.moon-gray Reviews
        div.mb5
            p.brand-darkened.f2.fw5.mb1 What People Are Saying
        div.blockquote-wrapper
            include ../../img/icons/quote.svg
            div.dot-menu.justify-between.justify-start-l(id="dot-menu")
            blockquote.pv4.black-70(id="blockquote")
                q.f4.f2-l.lh-copy.db.mb3(id="quote") I worked with Andrew after having two hip surgeries in 2016. From the first day we met I knew he took PT seriously and was ready to work. It was a long and productive time of therapy. Andrew consistently changed things up allowing my recovery a quicker healing time. I would recommend using him to anyone.
                cite.f3-l(id="cite") Riley
