section
    div.mw8.center
        h3.f1.fw6.tracked.ttu.near-black Services
        <ul class="f3 lh-copy mw7 mv0-l mb5">
            <li>Personalized, 1-on-1 sessions </li>
            <li>Group Classes</li>
            <li>Presentations to adult care homes, independent living facilities, and assisted living facilities</li>
        </ul>
        <p class="f3 lh-copy mw7 mb5">
        BeMobilePT is your local, neighborhood physical therapy clinic that comes to you! We will come to your home, saving you the time, effort, and money of getting to a clinic.
        </p>

