section.f4.pv4.pv6-l.ph4(id="services")
    div.mw8.center.flex.flex-column.flex-row-l.items-center
        div.column
            h3.mb1.f4.fw4.tracked.ttu.moon-gray Services
            div.mb4
                p.brand-darkened.f2.fw5.mb1 A physical therapy clinic that comes to you
                p.black-70 We will come to your home, saving you the time, effort, and money of getting to a clinic.
            ul.marketing-list.mb5
                li.mb3
                    span.marketing-icon
                        include ../../img/icons/check.svg
                    p.ml3 Personalized, 1-on-1 sessions
                li.mb3
                    span.marketing-icon
                        include ../../img/icons/check.svg
                    p.ml3 Group Classes
                li.mb3
                    span.marketing-icon
                        include ../../img/icons/check.svg
                    p.ml3 Presentations to adult care homes, independent living facilities and assited living facilities
        div.pl5-l.column
            img.br1(width=500, src="/img/andrew/3.jpg")
