doctype html
head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    title Be Mobile PT
    link(rel="stylesheet", href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css")
    link(rel="stylesheet", href="./css/style.css")

body.avenir.center
    include includes/header.pug
    main(id="main")
        include includes/hero.pug
        include includes/services.pug
        include includes/insurance.pug
        include includes/about.pug
        include includes/reviews.pug
        include includes/contact.pug

    script(src="./js/waypoints.min.js")
    script(src="./js/app.js")



